.light-rays-container {
  position: fixed;       /* se queda fijo en la pantalla */
  top: 0;
  left: 0;
  width: 100vw;          /* ancho total del viewport */
  height: 100vh;         /* alto total del viewport */
  pointer-events: none;  /* no bloquea clics */
  z-index: -1;           /* se coloca detrás del contenido */
  overflow: hidden;
  
}
